data/
figures/
figs_new/
forCellChat/
human/
ligand/
outs/
outs_human/
scenic/
tables/
seaborn/
scvi/
scutils/
vectra/
oldscenic/
r/
figures_rc/
illustrator/
milopy/
mnnpy/
schillerlab-sc-toolbox-393fa7a/
vectra/
singleR/
objs/
code/not_used/
renv/
coculture/
GEO_submission/

*.csv
t-test_overestim_var.csv
wilcoxon.csv

Webex.pkg
stitch_python.py
figures.py
info.txt
geckodriver.log
pipe.py


*.Rproj
*.idea
*.Rprofile
*.RData
*.Rhistory
*.txt
*.gitignore
*.Rproj.user
*.DS_Store
code/.ipynb_checkpoints/
*.csv
.Rproj.user
*.png
r/
stitch_python.py
code/Human2.py
code/CAFs.R
code/LR_human_allCompartments.R
code/LR_mouse_allCompartments.R
code/LR_mouse_allCompartments_byGenotypeAndAR.R
code/LRexpression.py
code/PRN_pairs.R
code/Process_tcga.R
code/analyze_panel3.py
code/coculture2.py
code/coculture_preprocessing.py
code/human_lineage_annotation.py
code/vectra_panel3.py
code/visium.py
