data/
figures/
figs_new/
forCellChat/
human/
ligand/
outs/
outs_human/
scenic/
tables/
seaborn/
scvi/
scutils/
vectra/
oldscenic/
r/
figures_rc/
illustrator/
milopy/
mnnpy/
schillerlab-sc-toolbox-393fa7a/
vectra/
singleR/
objs/
code/not_used/
renv/
coculture/

*.csv
t-test_overestim_var.csv
wilcoxon.csv

Webex.pkg
stitch_python.py
figures.py
info.txt
geckodriver.log
pipe.py


*.Rproj
*.idea
*.Rprofile
*.RData
*.Rhistory
*.txt
#*.gitignore
*.Rproj.user
*.DS_Store
code/.ipynb_checkpoints/

.Rproj.user
